<!--<body ng-app="myApp" ng-controller="myCtrl" data-ng-init="init()">-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp">

<head>
    <link rel="stylesheet" type="text/css" href="allUsers.css">
</head>

<body>



<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>online</th>
        <th>The rank</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in allUsers">
        <td>{{x.username}}</td>
        <td>{{x.email}}</td>
        <td>ranks</td>
    </tr>
    </tbody>

</table>
</body>
</html>
