<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp" ng-controller="ChallengedController">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table align="center">
    <thead>
    <tr><th colspan="9">{{currUser.username}} challenged {{askedUser.username}}</th> </tr>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Pick Pair</th>
        <th>Long/Short</th>
        <th>Stake</th>
        <th>Leverage</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{currUser.firstName}}</td>
        <td>{{currUser.lastName}}</td>
        <td>{{currUser.username}}</td>
        <td>{{currUser.email}}</td>
        <td>{{currUser.account.balance}}</td>
        <td><select ng-model="currUserPair" ng-options="x.symbols for x in pairs"></td>
        <td><select ng-model="currUserDirection" ng-options="x for x in direction"></td>
        <td><select ng-model="currUserStake" ng-options="x for x in stakes"></td>
        <td><select ng-model="currUserLeverage" ng-options="x for x in leverages"></td>
        <!--<td><button ng-click="getSclass="btn btn-success">Stats</button></td>-->

    </tr>

    <tr>
        <td>{{askedUser.firstName}}</td>
        <td>{{askedUser.lastName}}</td>
        <td>{{askedUser.username}}</td>
        <td>{{askedUser.email}}</td>
        <td>{{askedUser.account.balance}}</td>
        <td><select ng-model="askedUserPair" ng-options="x.symbols for x in pairs"></td>
        <td><select ng-model="askedUserDirection" ng-options="x for x in direction"></td>
        <td><select ng-model="askedUserStake" ng-options="x for x in stakes"></td>
        <td><select ng-model="askedUserLeverage" ng-options="x for x in leverages"></td>



    </tr>
    <tr><th colspan="9"> <button class="btn btn-default btn-block btn-success"ng-click="fight()"  >Fight!!</button></th></tr>
    </tbody>

</table>

<br><br><br><br>

<!--{{pairs}}-->
<br><br>
<!--{{currentUserFinalPair.symbols}}-->
<!--{{$scope.currUserLatestPositon}}-->
<table align="center">
    <thead>
    <tr><th colspan="5">Live Game Info Feed</th> </tr>
    <tr>

        <th>Username</th>
        <th>Balance</th>
        <th>Pair</th>
        <th>Direction</th>
        <th>Position Size</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{currUser.username}}</td>
        <td>{{currUser.account.balance}}</td>
        <td>{{currentUserFinalPair.symbols}}</td>
        <td>{{currUserDirection}}</td>
        <td>{{currUserPosSize}}</td>

    </tr>
    <tr>
        <td>{{askedUser.username}}</td>
        <td>{{askedUser.account.balance}}</td>
        <td>{{askedUserFinalPair.symbols}}</td>
        <td>{{askedUserDirection}}</td>
        <td>{{askedUserPosSize}}</td>
    </tr>
    <tr><th colspan="5">Game Time {{ counter}}</th> </tr>
    </tbody>

</table>

</body>
</html>