<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table align="center">
    <thead>
    <tr><th colspan="8">{{currentUser.username}} challenged {{askedUserObject.username}}</th> </tr>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Pick Pair</th>
        <th>Long/Short</th>
        <th>Stake</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{currentUser.firstName}}</td>
        <td>{{currentUser.lastName}}</td>
        <td>{{currentUser.username}}</td>
        <td>{{currentUser.email}}</td>
        <td>{{currentUser.account.balance}}</td>
        <td><select ng-model="challengerPair" ng-options="x.symbols for x in pairs"></td>
        <td><select ng-model="challengerDirection" ng-options="x for x in direction"></td>
        <td></td>
        <!--<td><button ng-click="getSclass="btn btn-success">Stats</button></td>-->

    </tr>

    <tr>
        <td>{{askedUserObject.firstName}}</td>
        <td>{{askedUserObject.lastName}}</td>
        <td>{{askedUserObject.username}}</td>
        <td>{{askedUserObject.email}}</td>
        <td>{{askedUserObject.account.balance}}</td>
        <td><select ng-model="challengedPair" ng-options="x.symbols for x in pairs"></td>
        <td><select ng-model="challengedDirection" ng-options="x for x in direction"></td>
        <td></td>

        <!--<td><button ng-click="getSclass="btn btn-success">Stats</button></td>-->

    </tr>
    </tbody>

</table>



</body>
</html>