<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp" ng-controller="FightStartController">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<br><br>

<table align="center" width=750 style= 'table-layout:fixed'>
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="80px" />
    <col width="80px" />
    <col width="100px" />
    <col width="200px" />
    <col width="120px" />

    <thead>
    <tr><th colspan="9">Live Game Info Feed</th> </tr>
    <tr>

        <th style = "background-color:#BDB76B;color:#ffffff;">Username</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Available</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Equity</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">M.Margin</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Margin %</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Pair</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Direction</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Current Value</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Net P&L</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{currUser.username}}</td>
        <td>{{currAvailableView}}</td>
        <td>{{currEquityView}}</td>
        <td>{{mMargin}}</td>
        <td>{{currMarginPercent}}%</td>
        <td>{{currPair}}</td>
        <td>{{currDir}}</td>
        <td>{{currUserCurrentPosView}}</td>
        <td>${{currPLView}}</td>

    </tr>
    <tr>
        <td>{{oppUsername}}</td>
        <td>{{oppAvailableView}}</td>
        <td>{{oppEquityView}}</td>//balance + stake + p/l
        <td>{{mMargin}}</td>
        <td>{{askedMarginPercent}}%</td>
        <td>{{oppPair}}</td>
        <td>{{oppDir}}</td>
        <td>{{opponentCurrentPosView}}</td>
        <td>${{oppPLView}}</td>
    </tr>
    <tr><th colspan="9">Game Time {{ counter}}</th> </tr>
    </tbody>

</table>

</body>
</html>