

<main>

    <div class="container">
        <!--First row-->
        <div class="row">
            <div class="col-md-7">
                <!--Featured image -->
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="../../../resources/img/howTo.jpg" class="img-fluid " alt="">
                    <div class="mask">
                    </div>
                </div>
                <br>
            </div>

            <!--Main information-->
            <div class="col-md-5" margin-top="15%">
                <hr>
                <h1 class="h2-responsive"><b><font color="white"><i>Take your first trading steps</i></font></b></h1>
                <h2 class="h2-responsive"><b><font color="white">Accessing the site</font></b></h2>
                <h2 class="h2-responsive"><b><font color="white">Make your first Trade</font></b></h2>
                <h2 class="h2-responsive"><b><font color="white">Play against other users</font></b></h2>
                <hr>
            </div>
        </div>
        <!--/.First row-->








        <hr class="extra-margins"/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/reg.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Register your details</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Your auto logged on</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Land on your summery page</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>

        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">If Returning to the site</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Enter Your username/email and password</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Land on your summery page</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/log.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/liveFX.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">View Live Forex Prices</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">No Need to login</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Assess the markets</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <hr class="extra-margins"/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Select Your Pair</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Choose Buy Or Sell Position</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Select Position Size</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/tradeView.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/spreadIndicator.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Notice the variance in Spread depth</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Remember, the deeper the Spread</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">The more volatility required</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">To realize a profit</h1></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>

        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">After Choosing BUY or SELL</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Select your position size</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Margin is converted</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">into account currency (USD)</h1></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/select.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>

        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/confirmation.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Receive Confirmation</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">That Position Has Been </h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Opened</h1></li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <hr class="extra-margins"/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Live Trade Window Opens</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Showing Your Profit or Loss</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">And opton to close position</h1></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/window.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>



        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/header1.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Header Updated</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Profit or Loss</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">And Margin Required</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">For This Trade</h1></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>

        <div class="row">

            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Header Updated</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Amended Account funds available</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">And Equity</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Equity = Available + Margin + Profit/loss</h1></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/header2.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
        </div>

        <hr class="extra-margins"/>
        <hr class="extra-margins"/>
        <hr class="extra-margins"/>
        <hr class="extra-margins"/>
        <hr class="extra-margins"/>

        <div class="row">

            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/whoOnline.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Select Who's Online in Navber</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">See a lst of all users online</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Select duration and stake</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Then send a challenge</h1></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <hr class="extra-margins"/>


        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Recieve confirmation</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Challenge has been sent</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">To the User</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Challenge Valid Countdown Timer (1 min) Begins</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/challengeConfirm.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>

        </div>

        <hr class="extra-margins"/>

        <div class="row">

            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/notice.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">The Other User</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Is notified in navbar</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Immediately</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Challenge Valid Countdown Timer (1 min) Begins</h1></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <hr class="extra-margins"/>


        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h2 align="center">If User Accepts</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">§</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">You are both taken to new trade screen</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">§</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">Instead of normal account balance</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">§</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">funds available for the game are</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">§</h2></li>
                            <li> <h1 class="well-title"><h2 align="center">the challenge stake * 200</h2></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="view overlay hm-white-slight" align="center">
                        <img src="../../../resources/img/letsTrade.png" style="height:520px " style="width:620px" class="img-fluid" alt="" >

                    </div>
                </div>
            </div>


        </div>

        <hr class="extra-margins"/>

        <div class="row">


            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">Same Game Rules Apply </h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">As did for solo trade</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">But when the game timer is up</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">The player with the most money</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="well-block">
                        <ul>
                            <li> <h1 class="well-title"><h1 align="center">In their game account </h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Is determined the winner</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">Then their account balance is credit</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">§</h1></li>
                            <li> <h1 class="well-title"><h1 align="center">The amount of the game stake</h1></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <hr class="extra-margins"/>


        </div>  <!--/end contrainer-->

    <!--/.Main layout-->

</main>




