



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>

                <hr>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form"   role="form" style="display: block;">
                                <div class="card" >

                                    <div class="col-lg-12" >

                                        <div class="well-block">

                                            <!--Header-->
                                            <div align="center" class="form-header  green darken-4">
                                                <h3><i class="fa fa-lock"></i> User Login:</h3>
                                            </div>

                                            <!--Body-->
                                            <div class="md-form" >
                                                <i class="fa fa-envelope prefix"></i>
                                                <input type="text" ng-model="login.handle" id="form2" class="form-control" placeholder = " Username or Email">
                                            </div>

                                            <div class="md-form">
                                                <i class="fa fa-lock prefix"></i>
                                                <input type="password" ng-model="login.password" id="form4" class="form-control" placeholder = " Password">
                                            </div>

                                            <div class="text-center">
                                                <button ng-click="submitLogin()" class="btn green darken-4">Access Site</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>


                        <form id="register-form"  role="form" style="display: none;">

                            <div class="card" >

                                <div class="col-lg-12" >

                                    <div class="well-block">

                                        <!--Header-->
                                        <div align="center" class="form-header  yellow darken-4">
                                            <h3><i class="fa fa-lock"></i> New User Registration:</h3>
                                        </div>

                                        <!--Body-->
                                        <div class="md-form" >
                                            <i class="fa   fa-user prefix"></i>
                                            <input type="text" ng-model="register.firstName" name="firstName"  tabindex="1" class="form-control" placeholder=" First Name">
                                        </div>
                                        <div class="md-form" >
                                            <i class="fa   fa-user prefix"></i>
                                            <input type="text" ng-model="register.lastName" name="lastName"  tabindex="1" class="form-control" placeholder=" Last Name">
                                        </div>

                                        <div class="md-form" >
                                            <i class="fa  fa-money prefix"></i>
                                            <input type="text" ng-model="register.username" name="username"  tabindex="1" class="form-control" placeholder=" Username">
                                        </div>
                                        <div class="md-form" >
                                            <i class="fa fa-envelope prefix"></i>
                                            <input type="text" ng-model="register.email" name="email"  tabindex="1" class="form-control" placeholder=" Email">
                                        </div>

                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <input type="password" ng-model="register.password" name="password"  tabindex="1" class="form-control" placeholder=" Password">
                                        </div>

                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <input type="password" ng-model="register.confirmPassword" name="confirmPassword"  tabindex="1" class="form-control" placeholder=" Confirm Password">
                                        </div>

                                        <!--<fieldset class="form-group">-->
                                            <!--<input type="checkbox" ng-model="register.subscription" id="checkbox1">-->
                                            <!--<label for="checkbox1">Subscribe me to the newsletter (recieve a 5% discount on all purchases!!)</label>-->
                                        <!--</fieldset>-->

                                        <div class="text-center">
                                            <button ng-click="submitRegistration()" class="btn yellow darken-4">Register</button>
                                        </div>

                                    </div>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

