<div ng-show='$root.iAmLive' class="panel-heading">
    <h4 align="center"><b>Your Challenge Has Been Sent</b></h4>
    <h4 align="center"><b>Opponent Has {{challengeValidTime | toMinSec}} remaining to accept</b></h4>
</div>

<table align="center">
    <thead>
    <tr>
        <th>Username</th>
        <th>Ranking</th>
        <th>Duration (Min's)</th>
        <th>Stake</th>
        <th>Challenge</th>

    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="opponent in online">
        <td>{{opponent.username}}</td>
        <td>{{opponent.currentRank}}</td>
        <td><select ng-model="selectedTime" ng-options="t for t in gameTimes"></td>
        <td><select ng-model="selectedStake" ng-options="s for s in gameStakes"></td>
        <td ng-show="opponent.busy"><button ng-disabled = "opponent.busy" ng-click="challenge(opponent,selectedTime,selectedStake)" class="btn btn-info" >Player Busy</button></td>
        <td ng-show="!opponent.busy"><button ng-click="challenge(opponent,selectedTime,selectedStake)" class="btn btn-success" >Challenge</button></td>

    </tr>

    </tbody>

</table>
