<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp">

<head>
    <link rel="stylesheet" type="text/css" href="online.css">
</head>

<table align="center">
    <thead>
    <tr>
        <th>Username</th>
        <th>online</th>
        <th>The rank</th>
        <th>Challenge</th>

    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in online">
        <td>{{x.username}}</td>
        <td>{{x.email}}</td>
        <td>ranks</td>
        <td><button ng-click="challenge(x)" class="btn btn-success" >Challenge</button></td>
    </tr>
    </tbody>

</table>


</html>