<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp" ng-controller="OpenChallengesController">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<table align="center">
    <thead>
    <tr><th colspan="9">Hi <b>{{currUser.username}}</b> here's the challenges you are involved in are found here</th> </tr>
    </thead>
</table>

<br>
<table align="center">
    <thead>
    <tr><th colspan="9">Challenges sent by {{currUser.username}}</th> </tr>
    </thead>
</table>

<table align="center">
    <thead>
    <tr>
        <th></th>
        <th>Opponent</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Stake</th>
        <th>Status</th>

        <th>Option</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in sentChallenges" >

        <td>You Challenged</td>
        <td>{{x.opponentName}}</td>
        <td>{{x.challengeSent}}</td>
        <td>{{x.duration}}</td>
        <td>{{x.stake}}</td>
        <td ng-if="!x.withdrawen && !x.declined && !x.accepted">{{"Open"}}</td>
        <td ng-if="x.withdrawen">{{"Withdrawen"}}</td>
        <td ng-if="x.declined">{{"Declined"}}</td>
        <td ng-if="x.accepted">{{"Game is ON!!"}}</td>

        <td ng-show="!x.withdrawen && !x.declined && !x.accepted"><button ng-click="withdraw(x)" class="btn btn-danger">Withdraw Challenge</button></td>
        <!--<td ng-show="x.withdrawen"><button ng-click="withdraw(x)" class="btn btn-success">Re-Challenge</button></td>-->
        <td ng-show="x.withdrawen || x.declined"><button ng-click="findMore()" class="btn btn-info">Find More Users</button></td>
        <td ng-show="x.accepted" colspan="2"><button ng-click="playNow(x)" class="btn btn-info">Make Your Play Now!</button></td>


    </tr>
    </tbody>

</table>



<br>
<table align="center">
    <thead>
    <tr><th colspan="9">Challenges recieved by {{currUser.username}}</th> </tr>
    </thead>
</table>

<table align="center">
    <thead>
    <tr>
        <th></th>
        <th>Challenger</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Stake</th>

        <th>Status</th>
        <th colspan="2">Option</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in challengesRecieved" >

        <td>Challenge recieved from</td>
        <td>{{x.challengerName}}</td>
        <td>{{x.challengeSent}}</td>
        <td>{{x.duration}}</td>
        <td>{{x.stake}}</td>

        <td ng-if="!x.declined && !x.withdrawen && !x.accepted">{{"Open"}}</td>
        <td ng-if="x.declined">{{"Declined"}}</td>
        <td ng-if="x.withdrawen">{{"Withdrawen"}}</td>
        <td ng-if="x.accepted">{{"Game is ON!!"}}</td>

        <td ng-show="!x.declined && !x.withdrawen && !x.accepted"><button ng-click="accept(x)" class="btn btn-success">Accept</button></td>
        <td ng-show="!x.declined && !x.withdrawen && !x.accepted"><button ng-click="decline(x)" class="btn btn-warning">Decline</button></td>
        <td ng-show="x.declined || x.withdrawen" colspan="2"><button ng-click="findMore()" class="btn btn-info">Find More Users</button></td>
        <td ng-show="x.accepted" colspan="2"><button ng-click="playNow(x)" class="btn btn-info">Make Your Play Now!</button></td>



    </tr>
    </tbody>

</table>