<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp" ng-controller="OpenChallengesController">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<table align="center">
    <thead>
    <tr><th colspan="9">Hi <b>{{currUser.username}}</b> here's the challenges you are involved in are found here</th> </tr>
    </thead>
</table>

<br>
<table align="center">
    <thead>
    <tr><th colspan="9">Challenges sent by {{currUser.username}}</th> </tr>
    </thead>
</table>

<table align="center">
    <thead>
    <tr>
        <th>Challenger</th>
        <th>Opponent</th>
        <th>Status</th>

        <th>Option</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in sentChallenges" >

        <td ng-show="x.open">{{x.challengerName}}</td>
        <td ng-show="x.open">{{x.opponentName}}</td>
        <td ng-if="!x.withdrawen">{{"Open"}}</td>
        <td ng-if="x.withdrawen">{{"Withdrawen"}}</td>

        <td ng-show="!x.withdrawen"><button ng-click="withdraw(x)" class="btn btn-danger">Withdraw Challenge</button></td>
        <!--<td ng-show="x.withdrawen"><button ng-click="withdraw(x)" class="btn btn-success">Re-Challenge</button></td>-->
        <td ng-show="x.withdrawen"><button ng-click="findMore()" class="btn btn-info">Find More Users</button></td>

    </tr>
    </tbody>

</table>

<br>
<table align="center">
    <thead>
    <tr><th colspan="9">Challenges recieved by {{currUser.username}}</th> </tr>
    </thead>
</table>

<table align="center">
    <thead>
    <tr>
        <th>Challenger</th>
        <th>Opponent</th>
        <th>Status</th>
        <th colspan="2">Option</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="x in challengesRecieved" >
        <td>{{x.challengerName}}</td>
        <td>{{x.opponentName}}</td>
        <td ng-if="x.open">{{"Open"}}</td>
        <td ng-if="x.open ==  false">{{"Completed"}}</td>
        <td><button ng-click="accept(x)" class="btn btn-success">Accept</button></td>
        <td><button ng-click="withdraw(x)" class="btn btn-warning">Decline</button></td>


    </tr>
    </tbody>

</table>