<table align="center" width=100% style= 'table-layout:fixed'>
<col width="300px" />
<col width="300px" />
<col width="300px" />
<col width="300px" />

<thead ng-show='checkIfGame'>
<tr>
<th >Game Funds Available</th>
<th >Game Equity</th>
<th >Game Margin</th>
<th >Game Profit/Loss</th>
</tr>
</thead>

    <thead    ng-show='!checkIfGame'>
    <tr>
        <th >Available</th>
        <th >Equity</th>
        <th >Margin</th>
        <th >Profit/Loss</th>
    </tr>
    </thead>

<tbody>
<tr>
<td>${{available.toFixed(2) | number : fractionSize}}</td>
<td>${{equity.toFixed(2) | number : fractionSize}}</td>
<td>${{mMargin.toFixed(2) | number : fractionSize}}</td>
<td>${{PLV.toFixed(2) | number : fractionSize}}</td>
</tr>
</tbody>
</table>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div ng-show='checkIfGame' class="panel-heading">
                <h4 align="center"><b>{{$root.gameCounter | toMinSec}} remaining in this game!</b></h4>
            </div>
            <div class="panel-heading">
                <h4 align="center" ng-if="activeTrades"><b>{{openTrades.length}} Trades currently open!!</b></h4>
                <h4 align="center" ng-if="!activeTrades"><b>Choose a pair and make a trade now!!</b></h4>
            </div>
            <table class="table table-fixed">
                <thead>
                <tr class = "trade-head" >
                    <th class="col-xs-2">Instrument</th>
                    <th class="col-xs-1">change</th>
                    <th class="col-xs-1">BID</th>
                    <th class="col-xs-2"><i>action</i></th>
                    <th class="col-xs-1">ASK</th>
                    <th class="col-xs-2"><i>action</i></th>
                    <th class="col-xs-2"><i>HIGH/LOW</i></th>
                    <th class="col-xs-1"><i>Spread</i></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat-start="x in pairs">

                    <td height="60"class="col-xs-2 ">{{x.symbols}}</td>
                    <td height="60"class="col-xs-1" ng-if="x.symbols=='USD/JPY'" bgcolor="#48D1CC" align="center">{{((x.open - x.ask)).toFixed(2)}}%</td>
                    <td height="60"class="col-xs-1" ng-if="x.symbols!='USD/JPY'" bgcolor="#48D1CC" align="center">{{((x.open - x.ask)*100).toFixed(2)}}%</td>
                    <td height="60"class="col-xs-1" bgcolor="#F0F8FF" align="center">{{x.bid}}</td>
                    <td height="60"class="col-xs-2"bgcolor="#F0F8FF" align="center"><md-button ng-click="toggleLeft(x,'sell')" class="md-primary md-raised">SELL</md-button></td>
                    <td height="60"class="col-xs-1" bgcolor="#F0F8FF" align="center">{{x.ask}}</td>
                    <td height="60"class="col-xs-2" bgcolor="#F0F8FF" align="center"><md-button ng-click="toggleLeft(x,'buy')" class="md-primary md-raised">BUY</md-button></td>
                    <td height="60"class="col-xs-2" bgcolor="#F0F8FF" align="center">{{x.high}}/{{x.low}}</td>
                    <td height="60"class="col-xs-1" bgcolor="#4286f4">{{x.spreadPips}}</td>

                </tr>

                <tr ng-repeat-end="" ng-show="checkForOpenTrades(x)">
                    <td height="60" class="col-xs-2">{{x.symbols}}</td>
                    <td height="60" class="col-xs-7">P/L :${{checkForOpenTrades(x).closingProfitLoss.toFixed(2)}}</td>
                    <td height="60" class="col-xs-3"ng-show='!checkIfGame'><button class="btn btn-default btn-block btn-danger"ng-click="closeLiveTrade(x)"  >Close Live Position</button></td>
                    <td height="60" class="col-xs-3"ng-show='checkIfGame'><button class="btn btn-default btn-block btn-warning"ng-click="closeGameTrade(checkForOpenTrades(x))"  >Close Game Position</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>


<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin="">

        <md-table-container>

        <table md-table>
            <thead>
              <th></th>
              <th>{{preTradeAction}}</th>
              <th></th>
            </thead>

            <tbody md-body>
            <tr md-row>
                <td><button ng-click="increment();">+</button></td>
                <td>   Position: {{positionUnits}} </td>
                <td> <button ng-click="decrement();">-</button></td>


            </tr>
            <tr>
                <input ng-model="item.quantity" type="number" min="1" max="{{product.stockLevel}}" id="addon1" class="form-control add-to-basket-item-quantity" required>
            </tr>

            <tr>
                <td>{{preTradeBasePairChosenSymbols}}</td>
                <td colspan="2">{{preTradeMarginRequiredTradedCurrencyView}}</td>
            </tr>

            <tr>
                <td>$</td>
                <td colspan="2">{{preTradeMarginRequiredUSDView}}</td>
            </tr>

            </tbody>
        </table>
        </md-table-container>




        <md-button ng-click="closeToggleLeft()" class="md-primary md-raised">
            Close this Sidenav
        </md-button>

    </md-content>
    <button ng-show='!checkIfGame' class="btn btn-default btn-block btn-info"ng-click="trade()"  >Open Position!!</button>
    <button ng-show='checkIfGame' class="btn btn-default btn-block btn-info"ng-click="gameTrade()"  >Open Position!!</button>


</md-sidenav>

<br>



<div align = "center">

    <div  class="well" style="height:500px;width:800px;" >
        <div class="panel-heading">
            <h4 align="center"><b>Spread Depth Indicator</b></h4>
        </div>
        <canvas id="bar" class="chart chart-bar" chart-options="options"
                chart-data="data" chart-labels="labels" >
        </canvas>
    </div>
</div>

<div id = "container" style = "width:100%">

    <div id ="left" style = "float:left; width: 33%;">
        <button>Test</button>
    </div>
    <div id = "middle" style = "float:left; width: 33%;">
        <button>Test</button>

    </div>

</div>

<div class="well">
    <canvas  id="doughnut" class="chart chart-doughnut"
            chart-data="data" chart-labels="labels" height="68px">
    </canvas>
</div>

<div class="well" style="height:500px;width:800px;">
<canvas id="line" class="chart chart-line" chart-data="data2"
        chart-labels="labels2" chart-series="series2" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>
</div>

<!--<table align="center" width=100% style= 'table-layout:fixed'>-->
<!--<col width="300px" />-->
<!--<col width="300px" />-->
<!--<col width="300px" />-->
<!--<col width="300px" />-->

<!--<thead>-->
<!--<tr>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Available</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Equity</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Margin</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Profit/Loss</th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody>-->
<!--<tr>-->
<!--<td>${{availableView}}</td>-->
<!--<td>${{equityView}}</td>-->
<!--<td>${{mMargin.toFixed(2)}}</td>-->
<!--<td>${{PLV.toFixed(2)}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--<br><br><br>-->

<!--<table align="center" width=850 style= 'table-layout:fixed' class="tTable">-->
<!--<col width="100px" />-->
<!--<col width="100px" />-->
<!--<col width="100px" />-->
<!--<col width="100px" />-->
<!--<col width="200px" />-->
<!--<col width="100px" />-->
<!--<col width="200px" />-->
<!--<col width="100px" />-->
<!--<col width="100px" />-->
<!--<col width="100px" />-->

<!--<thead>-->
<!--<tr class="border_bottom">-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;" colspan="2">Instrument</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Change</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Bid</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;"><i>action</i></th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Ask</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;"><i>action</i></th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;" colspan="2">High/Low</th>-->
<!--<th style = "background-color:#BDB76B;color:#ffffff;">Spread</th>-->
<!--</tr>-->
<!--</thead>-->





<!--<tbody>-->
<!--<tr ng-repeat-start="x in pairs">-->
<!--<td align="left" colspan="2">{{x.symbols}}</td>-->

<!--&lt;!&ndash;<td bgcolor="#48D1CC"align="center">{{((x.open - x.ask)*100).toFixed(2)}}%</td>&ndash;&gt;-->


<!--<td ng-if="x.symbols=='USD/JPY'" bgcolor="#48D1CC"align="center">{{((x.open - x.ask)).toFixed(2)}}%</td>-->
<!--<td ng-if="x.symbols!='USD/JPY'" bgcolor="#48D1CC"align="center">{{((x.open - x.ask)*100).toFixed(2)}}%</td>-->


<!--<td bgcolor="#F0F8FF" align="center">{{x.bid}}</td>-->
<!--<td bgcolor="#F0F8FF" align="center">-->
<!--<md-button  ng-click="toggleLeft(x,'sell')" class="md-primary md-raised">-->
<!--Sell-->
<!--</md-button></td>-->

<!--<td bgcolor="#F0F8FF" align="center">{{x.ask}}</td>-->
<!--<td bgcolor="#F0F8FF" align="center">-->
<!--<md-button ng-click="toggleLeft(x,'buy')" class="md-primary md-raised">-->
<!--Buy-->
<!--</md-button></td>-->
<!--<td bgcolor="#F0F8FF" align="center" colspan="2">{{x.high}}/{{x.low}}</td>-->
<!--<td bgcolor="#4286f4" align="center">{{x.spreadPips}}</td>-->
<!--</tr>-->
<!--<tr ng-repeat-end="" ng-show="checkForOpenTrades(x)">-->

<!--<td>{{action}}</td>-->
<!--<td >{{x.symbols}}</td>-->
<!--<td colspan="5">Value:  {{reqSym}}: {{positionValueView}}  ${{valueInAccountCurrencyView}}</td>-->
<!--<td colspan="2">P/L :${{checkForOpenTrades(x).closingProfitLoss.toFixed(2)}}</td>-->
<!--<td ng-show='!check'><button class="btn btn-default btn-block btn-danger"ng-click="closeLiveTrade(x)"  >Close</button></td>-->
<!--<td ng-show='check'><button class="btn btn-default btn-block btn-warning"ng-click="closeGameTrade(x)"  >Close</button></td>-->

<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
