

<table align="center" width=100% style= 'table-layout:fixed'>
    <col width="300px" />
    <col width="300px" />
    <col width="300px" />
    <col width="300px" />

    <thead>
    <tr>
        <th style = "background-color:#BDB76B;color:#ffffff;">Available</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Equity</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">M.Margin</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Profit/Loss</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>${{available}}</td>
        <td>${{equityView}}</td>
        <td>${{mMargin}}</td>
        <td>${{profitAndLossView}}</td>
    </tr>
    </tbody>
</table>

<br><br><br>

<table align="center" width=850 style= 'table-layout:fixed'>
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="200px" />
    <col width="100px" />
    <col width="200px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />

    <thead>
    <tr class="border_bottom">
        <th style = "background-color:#BDB76B;color:#ffffff;" colspan="2">Instrument</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Change</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Bid</th>
        <th style = "background-color:#BDB76B;color:#ffffff;"><i>action</i></th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Ask</th>
        <th style = "background-color:#BDB76B;color:#ffffff;"><i>action</i></th>
        <th style = "background-color:#BDB76B;color:#ffffff;" colspan="2">High/Low</th>
        <th style = "background-color:#BDB76B;color:#ffffff;">Spread</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat-start="x in pairs">
        <td align="left" colspan="2">{{x.symbols}}</td>
        <td bgcolor="	#48D1CC"align="center">..%</td>

        <td bgcolor="#F0F8FF" align="center">{{x.bid}}</td>
        <td bgcolor="#F0F8FF" align="center">
            <md-button ng-click="toggleLeft(x,'sell')" class="md-primary md-raised">
            Sell
           </md-button></td>

        <td bgcolor="#F0F8FF" align="center">{{x.ask}}</td>
        <td bgcolor="#F0F8FF" align="center">
            <md-button ng-click="toggleLeft(x,'buy')" class="md-primary md-raised">
                Buy
            </md-button></td>
        </td>
        <td bgcolor="#F0F8FF" align="center" colspan="2">{{x.high}}/{{x.low}}</td>
        <td bgcolor="#4286f4" align="center">{{x.spreadPips}}</td>
        <!--<td bgcolor="#f0f4b5" align="center">{{x.timeStampString}}</td>-->
    </tr>
    <tr ng-repeat-end="" ng-show="checkForOpenTrades(x)">
        <td>{{x.symbols}}</td>
        <td></td>
        <td colspan="2">Value:$</td>
        <td><button class="btn btn-default btn-block btn-danger"ng-click="closeTrade(x)"  >Close Position!!</button></td>
        <td colspan="2">P/L :$</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    </tbody>
</table>


<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin="">

        <!--<p>-->
            <!--{{currUser.username}}-->
        <!--</p>-->
        <md-table-container>

        <table md-table>
            <thead>
              <th>Instrument</th>
              <th>Action</th>
              <th>Stake</th>
            </thead>

            <tbody md-body>
            <tr md-row>
                <td>{{pairChosen.symbols}}</td>
                <td> {{direction}}</td>
                <td><select ng-model="currUserStake" ng-options="x for x in stakes"></td>
            </tr>

            </tbody>
        </table>
        </md-table-container>


        <md-button ng-click="closeToggleLeft()" class="md-primary md-raised">
            Close this Sidenav
        </md-button>

    </md-content>
    <button class="btn btn-default btn-block btn-info"ng-click="trade()"  >Open Position!!</button>

</md-sidenav>