<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myApp">


<head>
    <meta charset="utf-8">
    <title>ForexFighter</title>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->






    <link rel='stylesheet' href='node_modules/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='node_modules/font-awesome/css/font-awesome.min.css'>
    <!--<link rel="stylesheet" href="node_modules/device-mockups/device-mockups.min.css">-->
    <link rel="stylesheet" href="node_modules/simple-line-icons/css/simple-line-icons.css">
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/angular/angular.js" ></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>



    <link rel="stylesheet" type="text/css" href="build/css/generatedStyles.scss">
    <script src = "build/js/generatedScripts.js"></script>


</head>

<!--<navbar></navbar>-->
<ui-view></ui-view>

<header></header>
<br /><br />

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<div class="panel panel-login">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="active" id="login-form-link">Login</a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" id="register-form-link">Register</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<hr>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-12">-->


                            <!--<form id="login-form"  role="form" style="display: block;">-->

                                <!--<div class="form-group">-->
                                    <!--<input type="text" ng-model="login.username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="password" ng-model="login.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">-->
                                <!--</div>-->
                                <!--<div class="form-group text-center">-->
                                    <!--<input type="checkbox" tabindex="3" class="" name="remember" id="remember">-->
                                    <!--<label for="remember"> Remember Me</label>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<div class="row">-->

                                        <!--<div class="col-sm-6 col-sm-offset-3">-->
                                            <!--<input type="submit" ng-click="login()" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->


                            <!--<form id="register-form" role="form" style="display: none;">-->

                                <!--<div class="form-group">-->
                                    <!--<input type="text" ng-model="register.firstName" name="firstName" id="firstName" tabindex="1" class="form-control" placeholder="First Name" value="">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<input type="text" ng-model="register.lastName"name="lastName" id="lastName" tabindex="1" class="form-control" placeholder="Second Name" value="">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<input type="text" ng-model="register.username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<input type="email" ng-model="register.email" name="emailAdd" id="emailAdd" tabindex="1" class="form-control" placeholder="Email Address" value="">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<input type="password" ng-model="register.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<input type="password" ng-model="register.confirmPassword" name="confirmPassword" id="confirmPassword" tabindex="2" class="form-control" placeholder="Confirm Password">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-6 col-sm-offset-3">-->
                                            <!--<input type="submit" ng-click="register()" name="register" id="register" tabindex="4" class="form-control btn btn-register" value="Register Now">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->


                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





</body>
</html>
